h2
	About us

p
	TentacularApps xxxxx is the result of the 48-hour hackathon a href = "https://www.canadianopendataexperience.com/" CODE 2014.

p
	The team is comprised of McGill undergrads a href = "http://bitjutsu.ca" Adam Carruthers, Andreas Brake, Eric Di Tomasso, and a href = "http://keithmackinnon.com/" Keith MacKinnon. 

p
	We chose to make an app which gives the user an ideal location to live in Canada based on his or her preferences.

p
	The project is available on a href = https://github.com/kmackinnon/tentacularapps GitHub.