html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		title Where Should I Live?

		link(rel='stylesheet' href='css/reveal.min.css')
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/night.css' id='theme')
		link(rel='stylesheet' href='css/style.css')

		script(type='text/javascript' src='js/vendor/modernizr.js')
	body
		.nav-bar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Where Should I Live?

				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-left
						li
							a#backbutton Back
					ul.nav.navbar-nav.navbar-right
						li
							a#about About

		.container
			#aboutdialog.modal
				.modal-header
					h3 About Us 
					.modal-body
						p TentacularApps Lighthouse is the result of the 48-hour hackathon 
							a(href="https://www.canadianopendataexperience.com/") CODE 2014.
						p The team is comprised of McGill undergrads 
							a(href="http://bitjutsu.ca") Adam Carruthers, 
							| Andreas Brake, Eric Di Tomasso, and 
							a(href="http://keithmackinnon.com/") Keith MacKinnon.
						p We chose to make Lighthouse to give users an ideal location to live in Canada based on their preferences. 
							| The name Lighthouse was chosen since a lighthouse is used as an aid in navigation to one's destination.
						p The project is available on 
							a(href="https://github.com/kmackinnon/tentacularapps") GitHub.
			.reveal
				.slides
					section
						h2 Where Should I Live?
						p.
							Considering moving to Canada?  Already a Canadian resident but looking for a change of scenery?
							Answer a few questions about what's important to you and what your current situation is, and we'll do the rest.
						
						a.btn.btn-lrg.navigate-right Start &#x00bb;

					section#priorities
						h2 Tap the categories below in the order of their importance to you:
						#imagegridrow.row
							#imagegridcolumn.col-xs-6.col-md-3
								.small-block-12.hoverimage(index=1)
									img(src='img/buildings.jpg')
								.small-block-12.hoverimage(index=2)
									img.small-12(src='img/emerald_lake_yoho.jpg')
							#imagegridcolumn.col-xs-6.col-md-3
								.small-block-12.hoverimage(index=3)
									img.small-12(src='img/place_des_arts.jpg')
								.small-block-12.hoverimage(index=4)
									img.small-12(src='img/buildings.jpg')

					section#language
						h2 Which languages are you comfortable speaking?
						.list-group
							a.list-group-item.toggle-item(lang='en') English
							a.list-group-item.toggle-item(lang='fr') French
							a.list-group-item.toggle-item(lang='de') German
							a.list-group-item.toggle-item(lang='es') Spanish
							a.list-group-item.toggle-item(lang='mn') Mandarin

							a.btn.btn-lrg.navigate-up.navigate-right Continue &#x00bb;

					section
						section#immigrating
							h2 Are you moving to Canada from another country?
							.list-group.single-select
								a.list-group-item.navigate-down Yes
								a.list-group-item.navigate-right No

						section#emigratingfrom
							h2 Which area of the world are you coming to Canada from?
							.list-group.single-select
								a.list-group-item.navigate-right(index=1) USA
								a.list-group-item.navigate-right(index=2) South/Central America
								a.list-group-item.navigate-right(index=3) Europe
								a.list-group-item.navigate-right(index=4) Africa
								a.list-group-item.navigate-right(index=5) Asia

					section#nightlife
						h2 Are entertainment and nightlife important to you?
						.list-group.single-select
							a.list-group-item.navigate-right(index=0) Yes
							a.list-group-item.navigate-right(index=1) No

					section
						section#occulocation
							h2 Does your job impact where you live?

							.list-group.single-select
								a.list-group-item.navigate-down Yes
								a.list-group-item.navigate-right No

						section#industry
							h2 What industry do you work in?

							.list-group.single-select
								a.list-group-item.navigate-right(index=0) Agriculture, forestry, fishing and hunting
								a.list-group-item.navigate-right(index=1) Mining, quarrying, and oil and gas extraction
								a.list-group-item.navigate-right(index=2) Construction
								a.list-group-item.navigate-right(index=3) Manufacturing
								a.list-group-item.navigate-right(index=4) Retail trade
								a.list-group-item.navigate-right(index=5) Finance and insurance
								a.list-group-item.navigate-right(index=6) Professional, scientific and technical services
								a.list-group-item.navigate-right(index=7) Management of companies and enterprises
								a.list-group-item.navigate-right(index=8) Educational services
								a.list-group-item.navigate-right(index=9) Health care and social assistance
								a.list-group-item.navigate-right(index=10) Arts, entertainment and recreation
								a.list-group-item.navigate-right(index=11) Public administration
								a.list-group-item.navigate-right(index=12) Other
					section#temp
						h2 How does -20&deg;C (-4&deg;F) sound?
						h4 (Don't worry, it's not that cold everywhere all the time!)

						.list-group.single-select
							a.list-group-item.navigate-right(index=0) NONONONONONONO
							a.list-group-item.navigate-right(index=1) Sure, sounds manageable.
							a.list-group-item.navigate-right(index=2) SNOWBOARD THE WORLD

					section#rain
						h2 Do you mind a bit of rain?
						.list-group.single-select
							a.list-group-item.navigate-right(index=0) The rain is horrible
							a.list-group-item.navigate-right(index=1) A few days of rain never hurt anybody
							a.list-group-item.navigate-right(index=2) Rain is my favourite

					section#transit
						h2 What's your preferred mode of transportation?

						.list-group.single-select
							a.list-group-item.navigate-right(index=0) Walking
							a.list-group-item.navigate-right(index=1) Public transit (bus/train)
							a.list-group-item.navigate-right(index=2) Carpool

					section#budget
						h2 What's your approximate monthly housing budget?
						h4 (In Canadian Dollars)

						.list-group.single-select
							a.list-group-item.navigate-right(index=0) $500-$1500
							a.list-group-item.navigate-right(index=1) $1500-$5000
							a.list-group-item.navigate-right(index=2) $5000+

		script(type='text/javascript' src='js/vendor/jquery.js')
		script(type='text/javascript' src='js/bootstrap.min.js')
		script(type='text/javascript' src="js/vendor/head.min.js")
		script(type='text/javascript' src="js/vendor/reveal.min.js")
		script(type='text/javascript' src='js/quiz.js')
