html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		title Where Should I Live?

		link(rel='stylesheet' href='css/reveal.min.css')
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/night.css' id='theme')
		link(rel='stylesheet' href='css/style.css')

		script(type='text/javascript' src='js/vendor/modernizr.js')
	body
		.nav-bar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Where Should I Live?

				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-left
						li
							a#backbutton Back
					ul.nav.navbar-nav.navbar-right
						li
							a#about About

		.container
			
			#aboutdialog.modal
				.modal-header
					h3 About Us 
					.modal-body
						p TentacularApps Lighthouse is the result of the 48-hour hackathon 
							a(href="https://www.canadianopendataexperience.com/") CODE 2014.
						p The team is comprised of McGill undergrads 
							a(href="http://bitjutsu.ca") Adam Carruthers, 
							| Andreas Brake, Eric Di Tomasso, and 
							a(href="http://keithmackinnon.com/") Keith MacKinnon.
						p We chose to make Lighthouse to give users an ideal location to live in Canada based on their preferences. 
							| The name Lighthouse was chosen since a lighthouse is used as an aid in navigation to one's destination.
						p The project is available on 
							a(href="https://github.com/kmackinnon/tentacularapps") GitHub.
			.reveal
				.slides
					section
						h2 Where Should I Live?
						p.
							Considering moving to Canada?  Already a Canadian resident but looking for a change of scenery?
							Answer a few questions about what's important to you and what your current situation is, and we'll do the rest.
						
						a.btn.btn-lrg.navigate-right Start &#x00bb;

					section#priorities
						h2 Tap the categories below in the order of their importance to you:
						.row
							.col-xs-6.col-sm-3.hoverimage(data='Employment' index=1)
								img(src='img/buildings.jpg')
							.col-xs-6.col-sm-3.hoverimage(data='Climate' index=2)
								img(src='img/emerald_lake_yoho.jpg')
							.col-xs-6.col-sm-3.hoverimage(data='Culture' index=3)
								img(src='img/place_des_arts.jpg')
							.col-xs-6.col-sm-3.hoverimage(data='Lifestyle' index=4)
								img(src='img/buildings.jpg')

					section#language
						h2 Which languages are you comfortable speaking?
						.list-group
							.list-group-item.toggle-item
								a(lang='en') English
							.list-group-item.toggle-item
								a(lang='fr') French
							.list-group-item.toggle-item
								a(lang='mn') Mandarin
							.list-group-item.toggle-item
								a(lang='es') Spanish
							.list-group-item.toggle-item
								a(lang='de') German

							a.btn.btn-lrg.navigate-right Continue &#x00bb;

					section
						section#immigrating
							h2 Are you moving to Canada from another country?
							.list-group.single-select
								.list-group-item.navigate-down
									a Yes
								.list-group-item.navigate-right
									a No

						section#emigratingfrom
							h2 Which area of the world are you coming to Canada from?
							.list-group.single-select
								.list-group-item.navigate-right
									a(index=1) USA
								.list-group-item.navigate-right
									a(index=2) South/Central America
								.list-group-item.navigate-right
									a(index=3) Europe
								.list-group-item.navigate-right
									a(index=4) Africa
								.list-group-item.navigate-right
									a(index=5) Asia

					section#population
						h2 What is the largest city you would live in?
						.list-group.single-select
							.list-group-item.navigate-right
								a(index=0) Small (&lt; 100,000)
							.list-group-item.navigate-right
								a(index=1) Medium (&lt; 500,000)
							.list-group-item.navigate-right
								a(index=2) Large (&gt; 500,000)

					section
						section#occulocation
							h2 Does your job impact where you live?

							.list-group.single-select
								.list-group-item.navigate-down
									a Yes
								.list-group-item.navigate-right
									a No

						section#industry
							h2 What industry do you work in?

							.list-group.single-select
								.list-group-item.navigate-right
									a(index=0) Agriculture, forestry, hunting
								.list-group-item.navigate-right
									a(index=1) Mining, oil &amp; gas
								.list-group-item.navigate-right
									a(index=2) Construction
								.list-group-item.navigate-right
									a(index=3) Manufacturing
								.list-group-item.navigate-right
									a(index=4) Retail trade
								.list-group-item.navigate-right
									a(index=5) Finance and insurance
								.list-group-item.navigate-right
									a(index=6) Scientific and technical services
								.list-group-item.navigate-right
									a(index=7) Management
								.list-group-item.navigate-right
									a(index=8) Educational services
								.list-group-item.navigate-right
									a(index=9) Health care and social assistance
								.list-group-item.navigate-right
									a(index=10) Arts, entertainment and recreation
								.list-group-item.navigate-right
									a(index=11) Public administration
								.list-group-item.navigate-right
									a(index=12) Other

					section#rain
						h2 Do you mind a bit of rain?
						.list-group.single-select
							.list-group-item.navigate-right
								a(index=0) The rain is horrible
							.list-group-item.navigate-right
								a(index=1) A few days of rain never hurt anybody
							.list-group-item.navigate-right
								a(index=2) Rain is my favourite

					section#transit
						h2 What's your preferred mode of transportation?

						.list-group.single-select
							.list-group-item.navigate-right
								a(index=0) Walking
							.list-group-item.navigate-right
								a(index=1) Public transit (bus/train)
							.list-group-item.navigate-right
								a(index=2) Carpool

					section#budget
						h2 What's your expected annual income?
						h4 (In Canadian Dollars)

						.list-group.single-select
							.list-group-item.navigate-right
								a(index=0) less than $20k
							.list-group-item.navigate-right
								a(index=1) $20k-$40k
							.list-group-item.navigate-right
								a(index=2) $40k-$60k
							.list-group-item.navigate-right
								a(index=3) $60k-$80k
							.list-group-item.navigate-right
								a(index=4) $80k-$100k
							.list-group-item.navigate-right
								a(index=5) greater than $100k
					section#loading
						h1 Matching you to your future home...
						div
							img(src='/img/ajax-loader.gif')
					section#results
						h2 Your top matches are:
						img#map
						ol
							li#first
							li#second
							li#third

		script(type='text/javascript' src='js/vendor/jquery.js')
		script(type='text/javascript' src='js/bootstrap.min.js')
		script(type='text/javascript' src="js/vendor/head.min.js")
		script(type='text/javascript' src="js/vendor/reveal.min.js")
		script(type='text/javascript' src='js/quiz.js')
