html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title 
		link(rel='stylesheet' href='css/foundation.css')
	body
		.row
			.small-6.columns
				a.small.button(href='#') Economics
			.small-6.columns
				a.small.button(href='#') Culture
		.row
			.small-6.columns
				a.small.button(href='#') Quality of Life
			.small-6.columns
				a.small.button(href='#') Climate

		script(src='js/vendor/jquery.js')
		script(src='js/foundation.min.js')
		script(type='text/javascript').
			$(document).foundation()