.list-group-item a {
	color: rgb(238, 238, 238) !important;
}

.hoverimage {
	position: relative;
}

img {
	margin: 0 !important;
	border: 0 !important;
}

.hoverimage img {
	width: 100%;
	vertical-align: top;
}

.hoverimage:after {
	content: attr(data);
}

.hoverimage:before {
	content: attr(rank);
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


.hoverimage.selected:after {
	opacity: 1;
}

.hoverimage.selected:before {
	opacity: 1;
}

#map {
	display: block;
	overflow: hidden;
	height: 50%;
	margin: auto;
}

.list-group-item.active {
	background-color: slategray;
}

#map-canvas {
	height: 700px
}

.list-group-item {
	background-color: rgb(50,50,50);
}

.list-group-item:hover {
	background-color: rgba(20,20,20, 0.5) !important;
}

/* Mobile */
@media(max-width:767px) {
	body {
		overflow-y: scroll;
	}

	.list-group {
		display: table;
		width: 100%;
	}

	.list-group-item {
		height: 150px;
		line-height: 100px;
		display: table-row;
		
		font-size: 60px !important;
	}

	.list-group-item a {
		display: table-cell;
		vertical-align: middle;
	}

	.reveal a {
		font-size: 60px !important;
	}

	.reveal p {
		font-size: 40px !important;
	}
}

@media(min-width:768px){
	/* Only hover if not on mobile */
	.hoverimage:hover:after, .hoverimage:hover:before {
		opacity: 1;
	}
}

.modal {
	padding-top: 15px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}

.modal-header {
	background-color: rgb(224,224,224);
	border: 2px solid;
	border-radius: 20px;
}

/* Makes the following clickable */
#backbutton {
	cursor: pointer;
}

#about {
	cursor: pointer;
}
