html, body {
	max-height: 100%;
	/*overflow: hidden;*/
}

#imagegridcolumn {
	padding: 0;
}

#imagegridrow {
	padding: 15px;
	max-height: 100%;
}

.hoverimage {
	position: relative;
}

.hoverimage img {
	width: 100%;
	vertical-align: top;
	margin: 0;
	border: 0;
}

.hoverimage:after {
	content: attr(rank);
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.hoverimage.selected:after {
	opacity: 1;
}

.hoverimage:hover:after {
	opacity: 1;
}